@mixin cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin line {
	@include background-image(linear-gradient(left, #ccc 0%, #ccc 80%, #fff 80%, #fff 100%));
	background-size:5px 1px;
	height: 1px;
}
